@charset "ISO-8859-1";

body{
	font-family: arial;
	margin: 0;
	padding: 0;
}

input{
	border: none;
	height: 20px;
}

button{
	width:76px;
	height:25px;
	background-color: #2eb82e;
	font-weight: bold;
	color: white;
	border: none;
}
button:hover{
	background-color: #29a329;
}

td{
	padding: 5px;
}

.center{
	width: 350px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    color: white;
    background-color: grey;
}

